.aboutMeRoot {
    background-color: #012025;
    display: flex;
    flex-direction: column;
    min-height:100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/myPicBackG.jpg');
    background-size: cover;
    background-position: center;
    padding: 5vh 0;
    box-sizing: border-box;
}

.sectionCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto 10vw;
}

.MainAboutMe {
    width: 40%;
}



.MainAboutMe h1 {
    font-size:8vh;
    font-family: 'Rubik';
    color: #ffe23f;
    margin: 0px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(
        90deg,
        #b8860b 0%,
        #ffd700 30%,
        #fff8dc 50%,
        #ffd700 70%,
        #b8860b 100%
    );
    background-size: 300% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 10s linear infinite;

}

.MainAboutMe h1 span {
    font-size: 50%;
}

.MainAboutMe p {
    font-size: clamp(20px, 10vw, 28px);
}

.asideBox {
    text-align:end;
}

.asideBox h2 {
    font-family: 'Rubik';
    font-size: clamp(1rem, 20vw, 3.5rem);
    margin: 1px;
}


.divider {
    background-color:#ffe23f;
    height: .3vh;
    width: 90%;
    margin-bottom: 2%;
    border-radius:100%;
    opacity: .5;
}

.footerEducation {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    min-height: 20vh;
    gap: 5vw;
}

.footerEducation h4, .footerEducation p {
    margin: 5px;
    font-size: clamp(10px, 10vw, 20px);
}


.footerEducation h4  {
    color:#ffe23f;
}

@media (max-width: 768px){
    .sectionCenter {
        flex-direction: column;
    }
    .MainAboutMe {
        width: 80%;
    }
    .MainAboutMe p{
        text-align: justify;
    }
    .asideBox {
        text-align: center;
    }
    .asideBox h2{
        font-size: clamp(10px, 5vw, );
    }
    .footerEducation{
        flex-direction: column;
    }
}