.heroContainer {
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* Navigation */

.navi {
    padding: 0rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */

    position: sticky;
    top: 0;
    z-index: 1000;
}

.navi .navLogo {
    font-size: 2em;
    letter-spacing: -2px;
    font-weight: 1000;
    font-family: 'Featherly'

}

.navi ul {
    display:flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    gap: 1rem;
}

.navi button {
    all: unset;
    cursor: pointer;
    /* font-weight: bold; */
    transition: transform 0.3s ease;
}

.navi button:hover {
    transform: scale(1.2);
    color: goldenrod;
    font-weight: bold;
}

/* Hero Main Text */

.heroMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.heroMain section {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items:center;
}

.heroMain section .emDashLine {
    background-color: white;
    width: 3em;
    height: .2em;
    align-self: center;
}

.heroMain h1, .heroMain p {
   text-align: center;
}

.heroName {
    color: #f0d644;
    font-family: 'Crustaceans';
    font-size: 3.5em;
}

.heroMain h1 {
    font-family: 'Featherly';
    font-size: 8em;
    font-weight:900;
    color: #f0d644;
}
.heroMain p {
    font-size: 1.5em;
}

/* Hero Footer */

.heroFoot {
    justify-self: end;
    margin-top: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heroFoot section:first-child {
    display: flex;
    flex-direction: row;
    justify-self: start;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    margin: 1% 2%;
    gap: 1em;
}

.heroFoot .scrollIndicator {
    animation: bounce 2.2s infinite;
    height: 5vh;
    width: 5vw;
    color: lightgray;
}

@keyframes bounce {
    0%, 100% {transform:translateY(0);}
    50% {transform:translateY(8px);}
}


.heroFoot .heroSocialsLink{
    margin: 1% 2%;
    display: flex;
}
.heroFoot a {
    margin: 1vh .5vw;
    color: lightgray;
    opacity: 0.5;
}

.heroFoot a:hover {
    color:#f0d644;
    transform: scale(1.1);
    opacity: 1;
}

/* Backdrop Background */

.backdropSilk {
    height: 100vh;
    position: absolute;
    width: 100%;
    background-size: cover;
    z-index: -1;
}