.skillsRoot{
    box-sizing: border-box;
    width: 80vw;
    min-height: 100vh;
    width: 100vw;
    padding: 5vh;
    text-align: center;
    margin: auto auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

.skillsTab {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 12rem));
    grid-template-rows: minmax(100px, 12rem);
    grid-auto-rows: minmax(100px, 12rem);
    justify-content: center;
    gap: 5%;
}

.skillsContainer div{
    height: 100%;
    width: 100%;
    background-color: goldenrod;
}

.skillsRoot h1 {
    font-size:8vh;
    font-family: 'Rubik';
    color: #ffe23f;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(
        90deg,
        #b8860b 0%,
        #ffd700 30%,
        #fff8dc 50%,
        #ffd700 70%,
        #b8860b 100%
    );
    background-size: 300% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 10s linear infinite;
    margin-bottom: 3rem;

}

@media (max-width: 768px){
    .skillsRoot h1{
        font-size: 40px;
    }
}