.skillsRoot{
    width: 80vw;
    height: 100vh;
    padding: 5vh;
    text-align: center;
    margin: auto auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

.skillsTab {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(10px, 12rem));
    grid-template-rows: minmax(100px, 12rem);
    grid-auto-rows: minmax(100px, 12rem);
    justify-content: center;
    gap: 5%;
}

.skillsContainer div{
    height: 100%;
    width: 100%;
    background-color: goldenrod;
}


