.valuesRoot {
    background-color: #012025;
    width: 100vw;
    height: 50vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.valuesRoot h1 {
    justify-self: center;
    font-size: 5vh;
    font-family: 'Rubik';
    margin-bottom: 4vh;
    color: #ffe23f;
}

.mainGridValues {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap:2em;
}


.valuesRoot footer{
    margin: 2em 15%;
    justify-self:center;
    color: white;
    font-size: 1.3em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.valuesRoot footer h3 {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(
    -45deg,
    #a76a4c 0%,
    #cf8a68 20%,
    #f5a67e 50%,
    #ffe3a4 70%,
    #fafbbd 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 20px rgba(255, 228, 164, 0.425);
}

